<!-- /**
 * @create.ejs - create new
 *
 *
 * @author Harika
 */

 <p> This is the create quest partial page.</p>

 <form id="createForm">
    <div class="container-fluid">
        <div class=row>
           
            <div class="col-md-4 offset-md-4 mb-5">
                <div class="border p-2">
                    <h5>Start Location</h5>
                    <div class="md-form">
                        <label for="form2">Latitude</label>
                        <br>
                        <input type="text" placeholder="Latitude" id="form2" class="form-control">
                        <br>
                        
                    </div>
                    <div class="md-form">
                        <label for="form3">Longitude</label>
                        <br>
                        <input type="text" placeholder="Longitude" id="form3" class="form-control">
                        <br>
                        
                    </div>
                </div>
            </div>
         </div>
    </div>

</form> -->
