<!-- /**
 * @delete.ejs
 *
 *
 * @author Sai Krishna
 */

 <p> This is the delete team partial page.</p> -->
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<form>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2">
                    <h1 style="font-weight: bolder; color: #00674c;">Quest 1</h1>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2">
                    <h3 style="font-weight:500;">Location</h3>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2">
                    <h3 style="font-weight:500;">
                        Creator :
                    </h3>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> <input type="button" value="Delete" onclick="archiveFunction()"
                        style="background-color:  #00674c; color: white; width: 200px;height: 40px; border-radius: 8px;">
                    </h3>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>

            <br>
            <br>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> <input type="button" value="Cancel"
                        style="background-color:  #00674c; color: white; width: 200px;height: 40px; border-radius: 8px">
                    </h3>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>

        </div>
    </div>
</form>
<script>
    function archiveFunction() {
        event.preventDefault(); // prevent form submit
        var form = event.target.form; // storing the form
        swal({
            title: "Are you sure?",
            text: " Want to delete this file.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel please!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    form.submit();          // submitting the form when user press yes
                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
    }
</script>