<!-- /**
 * @delete.ejs
 *
 *
 * @author Sai Krishna
 */

 <p> This is the delete team partial page.</p> -->
 <br>

 <form>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> <h1 style="font-weight: bolder; color: #00674c;">Quest 1</h1> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2" > <h3 style="font-weight:500;">Location</h3> </div>
                <div class="col-sm-2" > </div>
                <div class="col-sm-2"> </div>

            </div>
            <br> 
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> <h3 style="font-weight:500;">
                    Creator :
                </h3> </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>

            </div>
            <br>
           
        </div>
    </div>
 </form>
