/**
 *  This will handle a request for location/details
 *  
 * 
 *
 * @author Rajeshwari Rudravaram    <s538361@nwmissouri.edu>
 */

 <p> This is partial page and will display the details of location.</p>
 

