<footer style="bottom: 0px; height: 15vh; width: 100%;">
   <section style="display: flex; justify-content: space-around; align-items: center; background-color: #00674c; color: #ffffff; width: auto; height: 100%; font-size: 32px; flex-shrink: 0; bottom: 0px;">
   <a href="/Home" style="color: white;">
      <i class="fas fa-home"></i>
   </a>
   <a href="/createScreen" style="color: white;">
      <i class="fas fa-bullseye"></i>
   </a>
   <a href="/create_competition" style="color: white;">
      <i class="fas fa-plus-circle"></i>
   </a>
    <a href="/user/profile" style="color: white;">
      <i class="fas fa-user-circle"></i>
    </a>
   </section>
</footer>