<!DOCTYPE html>
html(lang="en")
    head
        title Home Page
        link(rel="stylesheet", href="../../public/css/Login.css")
    body
        header(class="header")
            h1 #{title}
            main
        footer
           h1 #{footer}
               