<head>
<style>
.btn-dark {
    background-color: #212121!important;
    
    color: #fff;
}
.btn-dark1 {
    background-color: #212121!important;
    
    color: #fff;
}
</style>
</head>
<section>
  <div class="container" style="display: flex; flex-direction: column; align-content: center; align-self: center; justify-content: center;  align-items: center;">  
    <button type="button" onclick="alert('You will be creating a Team!')" class="btn btn-dark">Create Team</button>
    <br><br>        
    <button type="button" onclick="alert('You will be creating a Quest!')" class="btn btn-dark1">Create Quest</button>
</div>
</section> 
