<head>
<style>
.btn-dark {
    background-color: #b1a7a7!important;
    text-align: center;
    color: rgb(14, 13, 13);
}
.btn-dark1 {
    background-color: #b1a7a7!important;
    text-align: center;
    color: rgb(14, 13, 13);
}
</style>
</head>
<section>
  <div class="container" style="display: flex; flex-direction: column; align-content: center; align-self: center; justify-content: center;  align-items: center;">  
    <button type="button" id="button1" onclick="alert('You will be creating a Team!')" class="btn btn-dark">Create Team</button>
    <br><br>        
    <button type="button" id="button2" onclick="alert('You will be creating a Quest!')" class="btn btn-dark1">Create Quest</button>
</div>
</section> 
