
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        .test{
         
         
         color: #000000;
         font-size:x-large;
         text-align:right;
         margin:20px 0;
         padding:10px;
         white-space:nowrap;
        }
        .test span{
           float:left;
           width:5em;
           text-align:left;
        }
        </style>
</head>
<body>
    <h1 style="text-align:center">Create Competition<h1>


  
    <div align="center">  
        <input type="text"  class="text-line" placeholder="Enter Competition Name">
  </div> 
  <!--  <div align="left"> 
        <input type="date" id="start" name="trip-start" value="2020-10-01" min="2020-01-01" max="2055-12-31"> 
  </div> 
    <div align="right"> 
      div align="right"  
  </div> 
    <div align="justify"> 
      div align="justify"  
  </div> -->

  <p class="test">
      <span>
         
          <input placeholder = "Start Date" class = "textbox-n" type = "text" onfocus = "(this.type = 'date')"  id = "date">
        </span>
        
        <input placeholder = "Start Time" class = "textbox-n" type = "text" onfocus = "(this.type = 'time')"  id = "time"> </p>
<p class="test">
    <span> 
       
        <input placeholder = "End Date" class = "textbox-n" type = "text" onfocus = "(this.type = 'date')"  id = "date">
    </span>
    
    <input placeholder = "Start Time" class = "textbox-n" type = "text" onfocus = "(this.type = 'time')"  id = "time"> </p>
  
<div class="btn">Choose Quest</div>




</body>
