
<section>
  <div class="container">  
    <button type="button" onclick="alert('You will be creating a Team!')" class="btn btn-dark">Create Team</button>
    <br><br>        
    <button type="button" onclick="alert('You will be creating a Quest!')" class="btn btn-dark">Create Quest</button>
</div>
</section> 
