<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/header'); %>
</head> -->z
<main class="container">
    <h2 text-align="center">Create Competition</h2>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">Create Competition</label><br></br>
        <form target="_blank" action="./LeaderBoard.html">
            <input type="text" placeholder="Enter Competition Name" id="uname" name="uname" class="pl-2"><br><br>


            <div style="width: 100%;">

                <div style="width: 50%; height: 100px; float: left;">
                    <label for="starttime">Start date</label>
                    <input type="date" id="start" name="trip-start" value="2020-10-01" min="2020-01-01" max="2055-12-31">
                </div>

                <div style="margin-left: 50%; height: 100px">
                    <label for="starttime">Start  time:</label>
                    <input type="time" id="appt" name="appt" required>
                </div>
            </div>

            <div style="width: 100%;">
                <div style="width: 50%; height: 100px; float: left;">
                    <label for="starttime">End date</label>
                    <input type="date" id="start" name="trip-start" value="2020-10-01" min="2020-01-01" max="2055-12-31">
                </div>

                <div style="margin-left: 50%; height: 100px">
                    <label for="starttime">End  time:</label>
                    <input type="time" id="appt" name="appt" required>
                </div>
            </div>

            <fieldset>
                <p>
                    <label>Choose Quest</label>
                    <select id="myQuest">
                 <option value = " " >  </option>
                 <option value = " ">  </option>
                 <option value = " ">  </option>
                 <option value = " ">  </option>
               </select>
                </p>
            </fieldset>



            <i class="fas fa-grip-lines"></i>
        </form>
        <!-- <main-button>Register</main-button> -->
    </section>
</main>

<!-- <footer>
    
</footer>

</body>
</html> -->