!DOCTYPE html> 
<html> 
<head> 
    <title><%= title %></title> 
    <% include ../views/layout %> 
</head> 
<body> 
    <% include ../views/header %> 
    
    <div class="container">
       
        <button type="button" onclick="alert('You will be creating a Team!')" class="btn btn-primary btn-block">Create Team</button>
        <br><br>        
        <button type="button" onclick="alert('You will be creating a Quest!')" class="btn btn-primary btn-block">Create Quest</button>
      
        </div>
 
     <% include ../views/footer %> 
</body> 
</html> 