<!doctype html>
<html lang='en'>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
</head>
<section style="height: 100vh; background-color:white; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <!-- <div style="height: 10%; width: 10%;"> -->
        <i class="far fa-frown fa-7x" style="text-align: center; color: #00674c;"></i>
    <!-- </div> --> 
    
    <h2 style="font-size: 4em;">Error 404</h2>
    <label style="font-size: 2em;">Page Not Found</label>
</section>
</html>