<main>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
        <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Password Rest Code</label>
        <br>
        <br><br>
        <form>
            <main>
                <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
                    <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Password Rest Code</label>
                    <br>
                    <br><br>
                    <form>
                        <h3>Error 404 Page Not Found</h3>
                </form>
            </section>
        </main>
    </form>
</section>
</main>