<main>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
        <form>
            <main>
                <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
                    <form>
                        <h3>Error 404 Page Not Found</h3>
                </form>
            </section>
        </main>
    </form>
</section>
</main>