<footer style="position: fixed; bottom: 0px; height: 15vh; width: 100%;">
   <section style="display: flex; justify-content: space-around; align-items: center; background-color: #00674c; color: #ffffff; width: auto; height: 100%; font-size: 32px;">
   <a href="/dashboard/home" style="color: white;">
      <i class="fas fa-home"></i>
   </a>
   <a href="/dashboard/leaderboard" style="color: white;">
      <i class="fas fa-bullseye"></i>
   </a>
   <a href="/dashboard/createCompetition" style="color: white;">
      <i class="fas fa-plus-circle"></i>
   </a>
    <a href="/profile" style="color: white;">
      <i class="fas fa-user-circle"></i>
    </a>
   </section>
</footer>