<header style="background-color: #00674c; height: 15vh;justify-content: center;;">
    <h4 style="height: 100%; display: flex;text-align: center; align-items:center;  justify-content: center;color: #ffffff;">The Hunt</h4>
</header>