<!doctype html>
<html lang='en'>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header style="background-color: #00674c; height: 15vh;justify-content: center;;">
        <h4
            style="height: 100%; display: flex;text-align: center; align-items:center;  justify-content: center;color: #ffffff;">
            Invite Players </h4>
    </header>
    <main>
        <br>

        <br>

        <br>
        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-1"> </div>
            <div class="col-sm-3">
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown"
                        style="background-color: rgba(219, 214, 212, 0.719); height:50px; width: 250px; font-weight: bold;;color:rgb(10, 10, 10);">Invite
                        Players
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Player 1</a></li>
                        <li><a href="#">Player 2</a></li>
                        <li><a href="#">Player 3</a></li>
                    </ul>
                </div>
                <div class="col-sm-2"> </div>
                <div class="col-sm-2"> </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-1"> </div>
            <div class="col-sm-3">
                <button type="button"
                    style="width: 250px;color:rgb(10, 10, 10);background-color:#00674c; height: 40px;font-weight: bold;">Send
                    Invitation</button>
            </div>
        </div>
    </main>


    <%- include ('footer') %>