//- Index.pug
<!DOCTYPE html>
html(lang="en")
    head
        title Home Page
        style
            includes layout.css
    body
        header
            h1 Hello from Pug Template!
        block content
        footer
            h1 Hello this is a footer