<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">

</head>

<title>Login Page</title>
</head>

<main>
    <%- include ('./header') %>


        <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
            <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Login</label>
            <form>
                <input type="text" placeholder="Email" id="uname" name="uname" class="pl-2" style="border: none;border-bottom: 1px black solid;
                outline:none;
                background-color: white;
                width:20rem;
                "><br><br>
                <input type="password" placeholder="Password" id="password" name="password" class="pl-2" style="border: none;
                border-bottom: 1px black solid;
                outline:none;
                width:20rem;
                background: white;"><br><br>
                <input type="submit" class="rounded-100  text-center " style=" margin-left: auto;margin-right: auto; background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;" value="Login"
                    id="login" onclick="checkvalidation1()"><br>

                <i class="fas fa-grip-lines" style="font-size: 48px;color: white;"></i>
            </form>
            <form action="./forgotemail.ejs">
                <span class="d-flex flex-row">
                <button class="btnText" onmouseover="this.style.color='#00674c'" style="background:none;border: none; margin: 0; padding: 0;color: #00674c; cursor: pointer;display: flex; margin: 0 auto;" ><a>Forgot your password?</a></button>
            </span>
            </form>

            <form action="./signuppage.ejs">
                <button type="submit" class="rounded-100  text-center" style="background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;" value="Login" id="login" value="Register" id="signup">Register
                </button<br><br>
        </form>
    </section>

    <script>
        function checkvalidation1() {
            var re = /\S+@\S+\.\S+/;
            var x = document.getElementById('uname').value;
            var reg  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
            var y = document.getElementById('password').value;

             


            if (document.getElementById('uname').value == "") {
                alert('please fill the Username');
                return false
            } else {
                if (re.test(x)) {
                
                }
                else {
                    alert("Please enter valid email address");
                    return false
                }
            }
            if (document.getElementById('password').value == "") {
                alert('please fill the password');
                return false
            } 
            else
            {
                if (reg.test(y)) {
                
            }
            else {
                alert("password should contain atleast one number and one special character");
                return false
            }  
            }

            alert("login successful");

        }

        function validateEmail(email) {


        }



        // function goToRegister() {
        //     window.location.href = "./views/Signup/Signup.html";
        // }
    </script>
</main>