*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headText{
    font-size: 24px;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btnText:hover{
  border-bottom: 1px solid #00674c;
}

header{
    background-color: #00674c;
    color:white;
    text-align: center;
}

#one{
    text-align: center;
    margin:20px;
}

form input{
border: none;
border-bottom: 1px black solid;
outline:none;
width:20rem;
background: #fafafa;
}

#signup{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height: 30px;
    width: 120px;
    align-self: center;
    border-radius: 6px;
    background-color:  #00674c;
    color: white;
    padding: 0px; 
}

#two,#three{
    margin:10px;
    margin-left: auto;
    display:inline
}

table,th,tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
i{
    font-size: 48px;
    color:white;
}

footer{
    background-color: rgb(60, 114, 60);
    margin-top:500px;
}

.btnText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: #00674c;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
}