/**
 * @delete.ejs
 *
 *
 * @author Swaroop Reddy
 * This is the delete team partial page.
 */

 
 <form>
    <div class="container">
        <div class="form-group">
            <input class="col-25 d-flex align-items-center mx-auto mt-5 p-1 flex-column col-lg-4 bg-white" type=" email"
                placeholder="Team Maverics">
            </input>
        </div>
        <button type="delete"  class="col-25 d-flex align-items-center mx-auto mt-5 p-1 flex-column col-lg-4" style="background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;" value="teamSubmit" id="teamSubmit">Submit
        </div>
</form>
