/**
 * @   .ejs
 *
 * This is the page where user can edit his/her Information Regarding teams
 * @author Swaroop Reddy
 */

 <p> This is the ___ partial page which will allows the user to edit the team details which was created by the user.</p>
