/**
 *  Team Invitation Screen
 *  As a player, I want to accept or decline the invite.
 *
 * @author Sumana Reddy
 * @author Sri Sudheera
 *
 */

<head>
    <style>
 
       @media screen and (min-width: 500px) {
       
       
       .button-color {
       background-color: #135a3f;
       border: 3px solid #135a3f;
       border-color: #135a3f;
       }

       .button-color1 {

          border: 3px solid black; 
          color: black; 
       background-color: #9a9e9d;
       border-color: #135a3f;
       }
       <link rel="icon" type="image/png" sizes="36x36" href="docs/accept.png">
       }
       </style>
       </head>

       <body>
    <div style="background-color:white;padding:0;margin:0 auto;font-weight:200;width:100%!important">
       <table align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
          <tbody>
             <tr>
                <td align="center">
                   <center style="width:100%">
                      <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif" width="512">
                         <tbody>
                            <tr>
                               <td bgcolor="white" width="100%" style="background-color:white;padding:12px;border-bottom:1px solid white">
                                  <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;width:100%!important;font-family:Helvetica,Arial,sans-serif;min-width:100%!important" width="100%">
                                    <!-- <tbody>
                                        <tr>
                                           <td align="left" valign="middle" width="50%"><span style="margin:0;color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none;font-size:12px;line-height:20px">Webinars</span></td>
                                           <td valign="middle" width="50%" align="right" style="padding:0 0 0 10px"><span style="margin:0;color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none;font-size:12px;line-height:20px">Tuesday 14, February 2017</span></td>
                                           <td width="1">&nbsp;</td>
                                        </tr>
                                     </tbody> -->
                                  </table>
                               </td>
                            </tr>
                            <tr>
                              <td align="left">
                                  <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                     <tbody>
                                        <tr>
                                           <td width="100%">
                                              <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                 <tbody>
                                                   <!--<tr>
                                                       <td align="center" bgcolor="#8BC34A" style="padding:20px 48px;color:#ffffff" class="banner-color">
                                                          <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                             
                                                          </table>
                                                       </td>
                                                    </tr>--> 
                                                    <tr>
                                                       <td align="center" style="padding:20px 0 10px 0">
                                                          <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                             <tbody>
                                                                <tr>
                                                                   <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(0, 0, 0);font-size: 12px;line-height: 18px;">
                                                                      <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" class="title-color">Hi {{Name}},</h3>
                                                                      <p style="margin: 20px 0 30px 0;font-size: 15px;text-align: center;">A team has sent you an invite to join their team as a player<b></b>!</p>
                                                                      <div style="font-weight: 200; text-align: center; margin: 40px;"><a style="padding:0.6em 1em;border-radius:5px;color:white;font-size:14px;text-decoration:none;font-weight:bold"  onclick="alert('You have accepted the team invitation!')" class="button-color">Accept</a></div>
                                                                      <div style="font-weight: 200; text-align: center; margin: 40px;"><a style="padding:0.6em 1em;border-radius:5px;color:rgb(3, 3, 3);font-size:14px;text-decoration:none;font-weight:bold" onclick="alert('You have declined the team invitation!')"  class="button-color1">Decline</a></div>
                                                                      
                                                                   </td>
                                                                </tr>
                                                             </tbody> 
                                                          </table>
                                                       </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                            <tr>
                              <td align="left">
                                  <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" style="padding:0 24px;color:white;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                     <tbody>
                                        <tr>
                                           <td align="center" width="100%">
                                              <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                <!-- <tbody>
                                                    <tr>
                                                       <td align="center" valign="middle" width="100%" style="border-top:1px solid #d9d9d9;padding:12px 0px 20px 0px;text-align:center;color:#4c4c4c;font-weight:200;font-size:12px;line-height:18px">Regards,
                                                          <br><b>The Awesome Team</b>
                                                       </td>
                                                    </tr>
                                                 </tbody> -->
                                              </table>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td align="center" width="100%">
                                              <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                 <tbody>
                                                    <tr>
                                                       <td align="center" style="padding:0 0 8px 0" width="100%"></td>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </center>
                </td>
             </tr>
          </tbody>
       </table>
    </div>
 </body>
