<!doctype html>
<html lang='en'>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
    <main>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
            <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Login</label>
            
                <input type="text" placeholder="Email" id="email" name="email" class="pl-2" style="border: none;border-bottom: 1px black solid;
                outline:none;
                background-color: white;
                width:20rem;
                "><br><br>
                <input type="password" placeholder="Password" id="password" name="password" class="pl-2" style="border: none;
                border-bottom: 1px black solid;
                outline:none;
                width:20rem;
                background: white;"><br><br>
                <button class="rounded-100  text-center"  style="display: flex; margin: 0 auto; background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;"  id="login" onclick="checkvalidation1()">Login
                </button>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-content: space-between; margin-top: 2em;">
            
                <button class="mr-5" style="background:none;border: none; margin: 0; padding: 0;color: #00674c; cursor: pointer; display: flex; margin: 0 auto;" onclick="window.location='/user/forgotemail'">Forgot your password?</button>
           
              <button id="register"  style="background:none; border: none; border: none; margin: 0; padding: 0;color:blue; cursor: pointer;display: flex; margin: 0 auto;" onclick="window.location='/user/Register'"><a>Register</a></button>
       
        </div>
    </section>

    <style>

    </style>

    <script>
      function checkvalidation1() {
            console.log("---login hits---")
            var re = /\S+@\S+\.\S+/;
            var x = document.getElementById('email').value;
            var reg  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
            var y = document.getElementById('password').value;
    if(x != "" && y != ""){
        if(re.test(x) && reg.test(y)){
               var body = {
                   email: x,
                   password: y
               }
          axios.post('/user/Login/try', body).then(res => {
                    console.log(res, 
                 " ------response is here")
                    alert("User Authenticated successfully")
                     window.location = "/Home"
                 })
                 .catch(e => console.log(e.response, " -------error is here"))
            //    if(x == "dcase@nwmissouri.edu" && y == "password"){
            //    console.log("Hello")
            //        window.location="/Home";
            //    }else{
            //     alert("Incorrect Email or Password")
            //    }
        }else{
            alert("Incorrect Email or Password")
        }
    }else{
        alert("Email or Password missing")
    }
          
    }

        function goToRegister() {
            window.location.href = "/user/Register";
        }
    </script>
</main>
</body>
</html>

