<!-- Prasad GD -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">

</head>

<title>Register Page</title>
</head>
<body>

<main>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
        <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Create New Password</label>
        <br>
        <br><br>
        <form>
            <input type="text" placeholder="Enter New Password" id="ecode" name="ecode" class="pl-2" style="border: none;border-bottom: 1px black solid;
            outline:none;
            background-color: white;
            width:20rem;
            "><br><br>
             <input type="text" placeholder="Confirm New Password" id="ecode" name="ecode" class="pl-2" style="border: none;border-bottom: 1px black solid;
             outline:none;
             background-color: white;
             width:20rem;
             "><br><br>
        </form>
        <form action="/user/Login">
            <button type="submit" class="rounded-100  text-center" style="background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;" value="submitcode" id="codesub">Submit
            </button<br><br>
    </form>
</section>
</main>
    
</body>
</html>