<!-- Prasad GD -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hunt</title>
    <!-- get styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>

<title>Register Page</title>
</head>

<main>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4  shadow-lg rounded" style="background-color:white">
        <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Sign Up</label>
        <!-- <form style="align-items: center;"> -->
            <input type="text" placeholder="Email" id="email" name="uname" class="pl-2" style="border: none;border-bottom: 1px black solid;
                outline:none;
                background-color: white;
                width:20rem;"><br><br>
            <input type="password" placeholder=" New Password" id="password"  class="pl-2" style="border: none;border-bottom: 1px black solid;
                outline:none;
                background-color: white;
                width:20rem;"><br><br>
            <input type="password" placeholder="Confirm Password" id="newpassword"  class="pl-2" style="border: none;border-bottom: 1px black solid;
                outline:none;
                background-color: white;
                width:20rem;"><br><br>
         <button class="rounded-100  text-center"  style="display: flex; margin: 0 auto; background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;"  onclick="goToDashboard()">Register
        </button>
        <!-- </form> -->
        <!-- <form action="/Login">
        <section style="text-align: center;">
            Already a User?<input type="submit" class="rounded-100 col-sm-3 margin-0" value="Login" id="login" style="margin-left:4% ;block;background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;">
        </section>
    </form> -->
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-content: space-between; margin-top: 32px;">
            
        <label class="mr-5" style="background:none;border: none; margin: 0; padding: 0;color: #00674c; display: flex; margin: 0 auto;">Already a user?</label>
   
      <button id="Login"  style="background:none; border: none; border: none; margin: 0; padding: 0;color:blue; cursor: pointer;display: flex; margin: 0 auto;" onclick="goToLogin()">Login</button>

</div>
    </section>
</main>

<script>
  
    // const axios = require('axios')
    function goToDashboard(){
        console.log("yo")
            var re = /\S+@\S+\.\S+/;
            var x = document.getElementById('email').value;
            var reg  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
            var y = document.getElementById('password').value;
            var z = document.getElementById('newpassword').value
            if(x != "" && y != "" && z != "" ){
                if(re.test(x) == false || reg.test(y) == false){
                    alert("Please enter valid input")
                }else{
                    if( y != z){
                    alert("Passwords does not match")
                }else{
                    console.log(x, y, "body is here")
                  
                    var body = {
                     email: x,
                     password: y
                 }
                 axios.post('/user/userSignupController/Regitser', body).then(res => {
                    console.log(res, 
                 " ------response is here")
                    alert("User Created successfully")
                    window.location = "/Home"
                 })
                 .catch(e => 
                 alert("Invalid Email/Password")
             )
                   
                 }

                }
            }else{
                alert("Please enter fields")
            }
    }

 function   goToLogin(){
        window.location="/user/Login"
    }
</script>