<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../signup/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Forget Password</title>
</head>

<body>
    <header class="p-3">
        <h5>The Hunt</h5>
    </header>
    <br>

    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">Forget Password</label>
        <br>
        <br>
        <form target="_blank" action="./LeaderBoard.html">
            <input type="text" placeholder="Email" id="email" name="email" class="pl-2"><br><br>
            <br>

            <input type="submit" class="rounded-100 col-sm-3 margin-0" value="Verify" id="verify"><br><br>

            <i class="fas fa-grip-lines"></i>
        </form>

    </section>
</body>

</html>
