<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Signup.css">
    <link href="layout.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <title>Register</title>

</head>

<body>

    <header class="p-3">
        <h5 style="text-align:center;">The Hunt</h5>
    </header>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">Password Rest</label>
        <!-- <form target="_blank" action="./LeaderBoard.html" onsubmit="return checkforblank()"> -->
        <form>
            <input type="text" placeholder="Code" id="code" name="code" class="pl-2"><br><br>




            <form action="/">
                <button type="submit" class="rounded-100 col-sm-3 mt-3 text-center" value="GotoLogin" id="signup">Go to
                    Submit
                    </button<br><br>
            </form>

           
        </form>
        <!-- <main-button>Register</main-button> -->
    </section>
    
</body>

</html>