<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/TeamInvitation.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <title>TeamInvitation</title>
    <script src="TeamInvitationn.js"></script>
</head>

<body>

    <header class="p-3">
        <h5 style="text-align:center;">The Hunt</h5>
    </header>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">The Hunt</label>
        <!-- <form target="_blank" action="./LeaderBoard.html" onsubmit="return checkforblank()"> -->
        
    </section>
</body>

</html>