<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Signup.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <title>Register</title>
</head>

<body>
 
    <header class="p-3">
        <h5 style="text-align:center;">The Hunt</h5>
    </header>
    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">Register</label>
        <form target="_blank" action="./LeaderBoard.html" onsubmit="return checkforblank()">
            <input type="text" placeholder="Email" id="uname" name="uname" class="pl-2"><br><br>

            <input  type="password" placeholder="Password" id="password" name="password" class="pl-2"><br><br>
            <input  type="password" placeholder="Confirm Password" id="password" name="password" class="pl-2"><br><br>
            <input type="submit" class="rounded-100 col-sm-3 margin-0" value="Register" id="signup"><br>
            <!-- <main-button></main-button> -->

      <!--      <input type="password" placeholder="Password" id="password" name="password" class="pl-2"><br><br> -->
<!--            
            <input type="submit" class="rounded-100 col-sm-3 margin-0" value="Login" id="signup"><br><br> -->
         <span class="d-flex flex-row">
            <button class="btnText" href="views/ForgetPassword/forgetpassword1.html">ALready a user?</button> <br>
            <!-- <input type="submit" class="rounded-100 col-sm-3 mt-3 text-center" value="Register" id="signup"><br><br> -->
            <button class="btnText">Login</button> 

         </span>
          
            <i class="fas fa-grip-lines"></i>
        </form>
        <!-- <main-button>Register</main-button> -->
    </section>           
    <script src="views/Login/Login.js"></script>
</body>

</html>

