<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="layout.css">
    <title>*******Page Title********</title>
</head>

<!-- This page layout can be used to design Pages similar to Login sign in and other authentication web pages -->

<body>
    <header class="p-3">
        <h5>The Hunt</h5>
    </header>
    <br>

    <section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column col-lg-4 bg-light shadow-lg rounded">
        <label class="text-center headText">*********Actoion Name/Page********</label>

        <br> content which is to be displayed inside the box
        <!-- <form target="_blank" action="./LeaderBoard.html"> -->
        <!-- Form which can be used to design other pages.  -->
        <!-- <input type="text" placeholder="Email" id="email" name="email" class="pl-2"><br><br> -->
        <!-- Email input -->
        <!-- <br>

            <input type="submit" class="rounded-100 col-sm-3 margin-0" value="Verify" id="verify"><br><br> -->
        <!-- Button which is used to submit the values of this page. -->
        <!-- <i class="fas fa-grip-lines"></i> -->
        <!-- </form> -->

    </section>

    <!-- Footer will contain icons like home, quest, Add and profile. -->
    <footer class="p-3">
        <div class="icon">
            icons
        </div>
    </footer>
</body>


</html>